{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":54,"column":0},"end":{"row":54,"column":17},"action":"remove","lines":["pygobject==3.26.1"],"id":2}],[{"start":{"row":62,"column":0},"end":{"row":62,"column":17},"action":"remove","lines":["python-apt==1.6.4"],"id":3}],[{"start":{"row":79,"column":0},"end":{"row":79,"column":19},"action":"remove","lines":["systemd-python==234"],"id":4}]]},"ace":{"folds":[],"scrolltop":1049,"scrollleft":0,"selection":{"start":{"row":84,"column":18},"end":{"row":84,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":135,"mode":"ace/mode/text"}},"timestamp":1571842153253,"hash":"d79918ce1c5fd0a1df400b20de8d2e34aa95e353"}